---
name: "hyperliquid"
services:
  node:
    image: "ghcr.io/katanacap/hyperliquid-node:mainnet"
<<<<<<< HEAD
    build:
      dockerfile: "Dockerfile"
      context: .
=======
>>>>>>> 5c6fb2d (chore: update compose example)
    restart: "always"
    command:
      - "run-non-validator"
      - "--write-trades"
      - "--write-fills"
      - "--write-order-statuses"
      - "--write-misc-events"
      - "--serve-eth-rpc"
      - "--serve-info"
      - "--disable-output-file-buffering"
    read_only: true
    sysctls:
      net.ipv6.conf.all.disable_ipv6: "1"
    environment:
      RUST_LOG: "info,hl_bootstrap=trace,hl_bootstrap::monitor=info"
      HL_BOOTSTRAP_METRICS_LISTEN_ADDRESS: "0.0.0.0:2112"
      HL_BOOTSTRAP_PRUNE_DATA_INTERVAL: "1h"
      HL_BOOTSTRAP_PRUNE_DATA_OLDER_THAN: "2h"
    volumes:
      - "node-bin:/opt/hl/bin"
      - "node-data:/data"
    ports:
      - "127.0.0.1:3001:3001"
      - "0.0.0.0:4000-4010:4000-4010"

volumes:
  node-bin:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/hyperliquid/hl-node/node-bin
  node-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/hyperliquid/hl-node/node-data
